<div class="row">
	<div class=" large-5 medium-8 small-10  large-centered small-centered medium-centered columns ">
		<form method="POST" action="/login" class='form-panel'>
			<%- req.flash('message') %>
			<h2 class="form-heading">Want to Play?</h2>
			<div class="panel-wrap">
				<input placeholder="Email" class='panel-inputs' type="email" name="email" value="s@y.com"/>
				<input placeholder="Password" class='panel-inputs' type="password" name="password" value="admin123"/>
				<input class='button expand element button-th' type="submit" value="Sign In ">

				<hr>
				
				<a href='users/new' class='button center expand button-th' type="submit" value="">Sign Up</a>
			</div>
		</form>
	</div>
</div>
