<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/socket-io-client.js"></script>
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/foundation.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <!--STYLES END-->
  </head>

  <body>
     <%- body %>
    <div id="error-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Hey!</h2>
        <p id="message" class="lead">Waiting for a player to join</p>
         <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

     <div id="turn-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Hey!</h2>
        <p class="lead">Waiting for other player to play</p>
         <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
     <div id="gameOver-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Hey!</h2>
        <p class="lead">Game Over</p>
        <p id='message' class="lead">Game Over</p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <script src="/js/dependencies/fastclick.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/modernizr.js"></script>
    <script src="/js/dependencies/placeholder.js"></script>
    <script src="/js/boards/new.js"></script>
    <script src="/js/foundation.min.js"></script>
    
    
  </body>
</html>
