@-webkit-keyframes fade-out {
	0% { opacity: 1; -webkit-transform: scale(1);}
	85% {opacity: 1; -webkit-transform: scale(1.05);}
	100% {-webkit-transform: scale(.1); opacity: 0;}
}
.fade-out {
	animation: fade-out .5s ease-in;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	-webkit-animation: fade-out .5s ease-in;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
	-moz-animation: fade-out .5s ease-in;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: 1;
	opacity: 1;
}
