body{
	
}
.tiny{
    width:30%;
}
.reveal-modal-bg {
    position: fixed;
}
.reveal-modal{
    left:0;
    right:0;
    margin:auto;
}
.ladder-image{
    max-height: 100%;
    height: auto;
    position: fixed;
    left:0;
    right:0;
    margin:0 auto;   
    table{
     opacity: 0;
 }
}
.disabled{
pointer-events: none;
}
.center{
    text-align: center;
}
.block{
    display: block;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.center-horizontal{
    left:0;
    right:0;
    margin:auto;
}
.absolute.center-both{
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    height:50px;
}
.header{
    font-weight: 900;
    color: #ffffff;
    font-size: 5em;
    margin-bottom: 20px;
    margin-top: 1em;
    text-align: center;
}
.display-none{
    display: none;
}
.black-container{
    background: rgba(0,0,0,0.8);
    color:white;
    padding: 20px;
}
.form{
    padding: 40px;
}
.raduis{
    border-radius: 5px;
}
.score-board {

    position: relative;
    top:10px;
    left:10px;
}
.icons{
    position: absolute;
    width: 70px;
    height:70px;
    display:inline-block;
}
.icons.small{
	width: 20px;
    height:20px;
}



.transition {
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.places{
    display: inline-block;
}
form{
    .element{
        margin-bottom: 20px;
    }
}
.button.white,.input.white{
   background: white;
   border: 1px solid white;
   border-radius: 5px;
}
.button.white.transparent,.input.white.transparent{
    background: transparent;
    color:white;
}
.button.white.transparent:hover{
    background: #666;
}
.input.white.transparent:focus{
    color:white;
}