<div class='header'>Want to Play?
<input placeholder="You Name" class='center input white transparent relative block center-horizontal' type="text" value="">
<a href="/join" class='button white transparent relative block center-horizontal'> Join Game</a>

 </div>


