
<div class="container" >
		<img src="/images/snakesladders.jpg" id='ladder-image' class='ladder-image' alt=""/>
		<div id='tables-container' class="ladder-image"></div>
</div>

<div  class=''> 
<div id='dice' class='button'>Click</div>
<br>
Player One : 
<div id='player-one-position' class='places'></div> 
<br>
Player Two: 
<div id='player-two-position' class='places'></div>
</div>

<div id='player-one' class='player one icons small transition'> 
	<img src="/images/playerone.png"  alt="Player 1"/>
</div>
<div id='player-two' class='player two icons small transition'> 
	<img src="/images/playertwo.png"  alt="Player 2"/>
</div>

<div id="joinedModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Hey!.</h2>
  <p class="lead"> You have joined a new game.</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script>
 io.socket.get('/joinGame',function serverResponded (body, JWR) {
 			window.isMyturn = false;
      console.log('Sails responded with: ', body);
      if(body.error){
      	$('#error-modal').find('#message').html(body.error);
      	$('#error-modal').foundation('reveal', 'open');
      }else{
      	 $('#joinedModal').foundation('reveal', 'open');
      }
    });
     console.log('Subscribing to join');
</script>