

<div class="container" >
		<img src="/images/snakesladders.jpg" id='ladder-image' class='ladder-image' alt=""/>
		<div id='tables-container' class="ladder-image"></div>
</div>

<div id='dice' class='icons'> click <span id='number'></span> </div>
<div id='player-one' class='player one icons small absolute transition'> 
	<img src="/images/playerone.png"  alt="Player 1"/>
</div>
<div id='player-two' class='player two icons small absolute transition'> 
	<img src="/images/playertwo.png"  alt="Player 2"/>
</div>

<script>
 io.socket.get('/createGame',function serverResponded (body, JWR) {
      console.log('Sails responded with: ', body);
    });
     console.log('Subscribing to create');
</script>