<div class='header'>Sign Up</div>
<div class=" large-5 medium-8 small-10  large-centered small-centered medium-centered columns ">
	<form method="POST" action="/boards" class='center black-container form radius'>
		<%- req.flash('message') %>
		<input placeholder="Name" class='element input white transparent  ' type="text" name="name" value=""/>
		<input class='button expand element input white transparent ' type="submit" value="Create">

	</form>


</div>