<h1>Welcome</h1>: <%= req.user.email%>


<a href="/boards/new">New Board</a>

<ul id="boards_list" class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
	<% _.each(boards, function (board) { %>
	<li>
		<h3><%= board.name %></h3>	
		<a href='boards/<%=board.id%>'>Show</a>

	</li>

	<% }) %>
</ul>